.App {
  width: 100vw;
  height: 100vh;
}

body{
  margin: 0;
  padding:0;
}

#input-field{
justify-content: center;
position: absolute;
top: 50%;
left: 50%;
margin-top: -50px;
margin-left: -50px;
}













